body {
    background-color: steelblue;
}
h1{
    font-style: italic;
    background-color: thistle;
    text-align: center;
    text-decoration-line: underline;
}
.description{
    background-color: #99ff66;
    padding: 50px;
    
}
.imageOfAkan{
    text-align: center;
    
}
.mainFormToFill{
    margin-top: 10px;
    background-color: #99ff66;
    padding: 50px;
}
.copy{
    font-style: italic;
}