body {
    background-color: black;
}
h1{
    background-color: white;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
}
.description{
    background-color: white;
    padding: 50px;
    
}
.imageOfAkan{
    text-align: center;
    
}
.mainFormToFill{
    margin-top: 10px;
    background-color: white;
    padding: 50px;
}
.copy{
    font-style: italic;
}
footer{
    background-color: white;
    padding: 40px;
    text-align: center;
    margin-top: 20px;    
}
@media only screen and (max-width: 480px) {
    body {
     text-align: left;
    }
    img{
        float: left;
    }
  }
